<footer class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(5, 175, 214, 0.884);">
        © The Cave by Major Bruce Copyright: 2022
    </div>
    <!-- Copyright -->
</footer>