<footer class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(9, 49, 58, 0.884); color: white;">
        © The Cave by Major Bruce Copyright: 2022
    </div>
    <!-- Copyright -->
</footer>