<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-color: rgba(3, 9, 10, 0.884)">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="./images/d953bccd0150f2329492a84f648541c0.jpg" alt="THE CAVE" width="65" height="62">
          </a>
        <a class="navbar-brand" href=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" style="color:white" href="/comparison">Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white" href="/contact_us">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" href="/requirements">Requirements</a>
              </li>
            </ul>
          <span class="navbar-text">
          </span>
        </div>
      </nav>
</nav>