<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison</title>
    <link href="comparison.css" rel="stylesheet">
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <style>
      body{
        background-color: lightcyan;
      }
    </style>

    <span class="bmw"> 
      <a href="#" target="">
       <img src="./images/bmw530i.jpg" class="card-img-top" style="width:20rem">
      </a>
     </span>
   <span>
    <a href="#" target="">
      <img src="./images/renault_rs_megane.jpg" class="card-img-top" style="width:20rem">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/swift.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/kia-stonic-2022.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mercedes_benz_c_class.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mazda-rx-7.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mg.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mustang.jpg" class="card-img-top" style="width: 20rem">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/trackhawk.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/audi-a7.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/suzuki.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/range-rover-evoque.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/RAM.jpg" class="card-img-top" style="width: 20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/nissan-navara.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/cadillac.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/kia-telluride.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/evo-x.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/nissan-370z.jpg" class="card-img=top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/alfa-guilia.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/jaguar-f-type.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>

   
    
</body>
<%- include('partials/footer') %>
</html>