<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison</title>
    <link href="css/comparison.css" rel="stylesheet">
    <%- include('partials/header') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="grid">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/bmw530i.jpg" alt="530i" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>BMW 530i</h1>
          <p style="color: pink;">Practicing: 9/10</p>
          <p style="color: pink;">Acceleration: 10/10</p>
          <p style="color: wheat;">Comfortability: 9.5/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>

        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/renault_rs_megane.jpg" alt="rs_megane" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Renault Megane</h1>
          <p style="color: pink;">Practicing: 8.9/10</p>
          <p style="color: pink;">Acceleration: 9.6/10</p>
          <p style="color: wheat;">Comfortability: 9.6/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/swift.jpg" alt="swift" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>suzuki swift</h1>
          <p style="color: pink;">Practicing: 7.7/10</p>
          <p style="color: pink;">Acceleration: 7.6/10</p>
          <p style="color: wheat;">Comfortability: 7.9/10</p>
          <p style="color: wheat;">Cleanliness: 8/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/kia-stonic-2022.jpg" alt="stonic" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>stonic</h1>
          <p style="color: pink;">Practicing: 8.9/10</p>
          <p style="color: pink;">Acceleration: 8/10</p>
          <p style="color: wheat;">Comfortability: 8.9/10</p>
          <p style="color: wheat;">Cleanliness: 9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/mercedes_benz_c_class.jpg" alt="classC" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Class C</h1>
          <p style="color: pink;">Practicing: 8.6/10</p>
          <p style="color: pink;">Acceleration: 8.1/10</p>
          <p style="color: wheat;">Comfortability: 7.9/10</p>
          <p style="color: wheat;">Cleanliness: 8/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/mazda-rx-7.jpg" alt="rx7" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>rx7</h1>
          <p style="color: pink;">Practicing: 9/10</p>
          <p style="color: pink;">Acceleration: 9.7/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 9.2/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/mg.jpg" alt="mg" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>MG</h1>
          <p style="color: pink;">Practicing: 8.9/10</p>
          <p style="color: pink;">Acceleration: 7.7/10</p>
          <p style="color: wheat;">Comfortability: 8.6/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/mustang.jpg" alt="Ford Mustang" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Mustang</h1>
          <p style="color: pink;">Practicing: 9.2/10</p>
          <p style="color: pink;">Acceleration: 9/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/trackhawk.jpg" alt="trackhawk" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Jeep</h1>
          <p style="color: pink;">Practicing: 8/10</p>
          <p style="color: pink;">Acceleration: 10/10</p>
          <p style="color: wheat;">Comfortability: 9.6/10</p>
          <p style="color: wheat;">Cleanliness: 9.4/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/audi-a7.jpg" alt="audi-a7" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>A7</h1>
          <p style="color: pink;">Practicing: 7.9/10</p>
          <p style="color: pink;">Acceleration: 8.3/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/suzuki.jpg" alt="Swift22" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Swift 2022</h1>
          <p style="color: pink;">Practicing: 8.9/10</p>
          <p style="color: pink;">Acceleration: 8/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/range-rover-evoque.jpg" alt="evoque" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Range Rover</h1>
          <p style="color: pink;">Practicing: 8/10</p>
          <p style="color: pink;">Acceleration: 8.6/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/RAM.jpg" alt="RAM" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>RAM</h1>
          <p style="color: pink;">Practicing: 8/10</p>
          <p style="color: pink;">Acceleration: 7.6/10</p>
          <p style="color: wheat;">Comfortability: 9.6/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/yaris.jpg" alt="Yaris" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Toyota</h1>
          <p style="color: pink;">Practicing: 9.6/10</p>
          <p style="color: pink;">Acceleration: 8/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 8/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/cadillac.jpg" alt="cadillac" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>cadillac</h1>
          <p style="color: pink;">Practicing: 8.9/10</p>
          <p style="color: pink;">Acceleration: 9.6/10</p>
          <p style="color: wheat;">Comfortability: 9.6/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/kia-telluride.jpg" alt="kia" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Kia Telluride</h1>
          <p style="color: pink;">Practicing: 9/10</p>
          <p style="color: pink;">Acceleration: 9/10</p>
          <p style="color: wheat;">Comfortability: 8.8/10</p>
          <p style="color: wheat;">Cleanliness: 8.8/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/evo-x.jpg" alt="Evo-x" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>EVO</h1>
          <p style="color: pink;">Practicing: 9/10</p>
          <p style="color: pink;">Acceleration: 9.6/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 8.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/nissan-370z.jpg" alt="370z" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Nissan370z</h1>
          <p style="color: pink;">Practicing: 8/10</p>
          <p style="color: pink;">Acceleration: 8.9/10</p>
          <p style="color: wheat;">Comfortability: 8.7/10</p>
          <p style="color: wheat;">Cleanliness: 8.7/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/alfa-guilia.jpg" alt="guilia" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>Alfa-Romeo</h1>
          <p style="color: pink;">Practicing: 8/10</p>
          <p style="color: pink;">Acceleration: 8.6/10</p>
          <p style="color: wheat;">Comfortability: 8.6/10</p>
          <p style="color: wheat;">Cleanliness: 7.9/10</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./images/jaguar-f-type.jpg" alt="f-type" style="width:20rem;">
        </div>
        <div class="flip-card-back">
          <h1>F-Type</h1>
          <p style="color: pink;">Practicing: 8.5/10</p>
          <p style="color: pink;">Acceleration: 8.8/10</p>
          <p style="color: wheat;">Comfortability: 9/10</p>
          <p style="color: wheat;">Cleanliness: 7.8/10</p>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer') %>
</html>