<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison</title>
    <link href="comparison.css" rel="stylesheet">
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <style>
      body{
        background-color: darkcyan;
      }
    </style>
    
    <!-- <div class="grid" style="width:20rem;">
  <img src="./images/bmw530i.jpg" class="card-img-top" alt="bmw530i">
  <h1><b>👉Comfortibility: 9.8/10</b></h1>
  <h1><b>👉Car Condition:9.9/10</b></h1>
  <h1><b>👉Car cleanliness:10/10</b></h1>
  <h1><b>👉Car Acceleration: 9.5/10</b></h1>
    </div> -->
    <span> 
      <a href="#" target="">
       <img src="./images/bmw530i.jpg" class="card-img-top" style="width:20rem">
      </a>
     </span>
    
  <!-- <div class="grid" style="width:20rem;">
   <img src="./images/renault_rs_megane.jpg" class="card-img-top" alt="megane_renault">
   <h1><b>👉Comfortibility: 9.9/10</b></h1>
   <h1><b>👉Car Condition: 9.8/10</b></h1>
   <h1><b>👉Car Cleanliness: 10/10</b></h1>
   <h1><b>👉Car Acceleration: 10/10</b></h1>
   </div> -->
   <span>
    <a href="#" target="">
      <img src="./images/renault_rs_megane.jpg" class="card-img-top" style="width:20rem">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/swift.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/kia-stonic-2022.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mercedes_benz_c_class.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mazda-rx-7.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mg.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/mustang.jpg" class="card-img-top" style="width: 20rem">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/trackhawk.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>
   <span>
    <a href="#" target="">
      <img src="./images/audi-a7.jpg" class="card-img-top" style="width:20rem;">
    </a>
   </span>

   
    
</body>
<%- include('partials/footer') %>
</html>