<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="css/index.css" rel="stylesheet">
    <%- include('partials/header') %>
</head>
      
<body> 
    <%- include('partials/navbar') %>
    <div class="front">
        <img src="./images/shelby.jpg" width="180px" height="210px">
    </div>
     <div class="header">
        <h1 class="header_title">
            Welcome at The Cave💖
        </h1>
        <div class="image-flex">
            <img id= " img1" src="./images/polo.jpg" width="510">
            <img id="img1" src="./images/lc-500.jpg" width="515">
            <img id="img3" src="./images/ford-focus-rs.jpg" width="510">
        </div>
    </div>
</body>
<%- include('partials/footer') %>
</html>



<canvas></canvas>