<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements</title>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <style>
        body{
            background-color: wheat;

        }
    </style>

    <h1>If you're 18yrs, please bring your identity card with you and make sure you're accompanied with a parent.</h1>
    <h2>For insurance in case you damaged the car you'll pay a fine💵 which will be <b>twice(*2)</b> the price that you've paid for the vehicle.</h2>

    
</body>
<%- include('partials/footer') %>
</html>