<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements</title>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <style>
        div.require{
            margin-top: 18px;
            border: 2px solid black;
            border-radius: 1.7rem;

        }
    </style>

<form>
    <div class="require">
<img src="./images/requirements.jpg" width="175px" height="99px">
    </div>
</form>
<div class="info">
<h1>
    When picking up your vehicle make sure that you have your <b>identity card</b> with you or <b>birth certificate</b>.
</h1>
</div>


    
</body>
<%- include('partials/footer') %>
</html>