.flex_image_box{
    position: absolute;
    left: 50%;
    top: 85;
    transform: translate(-50%,-50%);
    display: flex;
    width: 100%;
    justify-content: center;
    filter: drop-shadow(5px 5px 6px rgba(199, 199, 48, 0.5));
}
