.header_title{
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translate(-50%, 50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    width: 100%;
    color: darksalmon;
    font-size: 29px;
    text-align: center;
}
.header_subtitle{
    position: absolute;
    left: 50%;
    top: 22.4%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    width: 100%;
    color: black;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}
body{
    margin: 0px;
    overflow: hidden;
}
.header{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-image: url("../images/shelby.jpg");
    background-size: contain;
    background-position: top;
    background-blend-mode: soft-light;
    background-color: #ffffff59;
    background-attachment: fixed;

}
.image-flex{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
    display: flex;
}

