.header_title{
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translate(-50%, 50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    width: 100%;
    color: rgb(20, 222, 101);
    font-size: 29px;
    text-align: center;
}
body{
    margin: 0px;
}
.header{
    height: 100%;
    /* width: 100vw; */
    padding: 200px;
    /* background-size: contain; */
    /* background-position: top; */
    /* background-blend-mode: soft-light; */
    /* background-color: #ffffff59; */
    /* background-attachment: fixed; */

}
.image-flex{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
    display: flex;
}
.front{
    /* height */
    position: absolute;
    min-width: 400px;
    width: 100%;

    

}
.front>img{
    height: 60vh;
    /* width: 95vh; */
    background-position: center;
    background-size: contain;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.left{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vh;

}

